body {
    margin: 0;
    background-color: #ECFDF5;
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#black {
    color: #2B283A;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.05em;
    text-align: left;
    margin: 70px 0px 5px 0px;

}

#green {
    color: #10B981;
}

p {
    color: #6B7280;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin: 5px 0px 0px 0px;
}
.btn{
    background-color: #10B981;
    color: #FFFFFF;
    border: none;
    padding: 5px 15px;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#generate-btn {
    width: 200px;
    height: 40px;
    line-height: 24px;
    margin: 50px 0px 0px 0px;
}
#toggleTheme{
    margin: 10px 0px 0px 20rem ;
}

#line {
    width: 425px;
    border: 1px solid #D5D4D8;
    margin: 30px 0px 40px 0px;

}

#fields {
    display: flex;
}

.field {
    background-color: #273549;
    width: 200px;
    border-radius: 6px;
    margin: 0px 25px 0px 0px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    padding: 5px 0px;
    color: #5DEF92;
;

}

.dark-mode{
    background-color:#1F2937;
}
.dark-mode p, .dark-mode #black{
    color: #F9FAFB;
}